apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: echo-me-ai-kv-provider
  namespace: echo-me-ai
spec:
  provider: azure
  secretObjects:
    - secretName: echo-me-ai-secrets
      type: Opaque
      data:
        - objectName: apenai-api-key
          key: OPENAI_API_KEY
        - objectName: sendgrid-api-key
          key: SENDGRID_API_KEY
        - objectName: pushover-token
          key: PUSHOVER_TOKEN
        - objectName: pushover-user
          key: PUSHOVER_USER
  parameters:
    usePodIdentity: "false"
    clientID: "44e40eaa-e78d-4fb1-9d1e-abd206ab83d2"
    keyvaultName: "echo-me-ai-kv"
    tenantId: "20f62116-4d0c-44ac-8a45-390ca2765601"
    objects: |
      array:
        - |
          objectName: apenai-api-key
          objectType: secret
        - |
          objectName: sendgrid-api-key
          objectType: secret
        - |
          objectName: pushover-token
          objectType: secret
        - |
          objectName: pushover-user
          objectType: secret
